private/*
!private/.gitkeep
terraform/terraform.tfstate*
terraform/terraform.tfvars
terraform/.terraform*
docker/wireguard/.env
docker/wireguard/config
wireguard_configs/*
!wireguard_configs/.gitkeep
webui/__pycache__
webui/data/*
webui/.cache
webui/static/design-src/*
!webui/data/.gitkeep
docker/webui/.env
logs/*
!logs/.gitkeep

private/ssl/*
!private/ssl/.gitkeep
private/certbot/*
!private/certbot/.gitkeep